/* CSS styles for home page */
/* style background */
body {
    background-color: #5d2393;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #00ffee;
    margin: 0;
    padding: 0;
}